@tailwind base;
@tailwind components;
@tailwind utilities;


/* FONTS ARE WRITTEN HERE */


/* font-family: 'Borel', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'JetBrains Mono', monospace;
font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Sora', sans-serif;
font-family: 'Ubuntu', sans-serif; */


.font-sora {
  font-family: 'Sora', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-jetbrain{
  font-family: 'JetBrains Mono', monospace;
}



/* ========================================= */
/* THE HERO SECTION STARTS HERE */
#HeroSection_1_{
  width: 100%;
  height: 100vh;


  /* background-color: green; */

  /* overflow: hidden; */

}

.GDSCbig{

  font-size: 21rem;
  rotate: 90deg;

  font-weight: 900;
  line-height: 0;

  left: -23rem;
  top: 29rem;

  color: #363636;
}

.UEM{
  width: 50rem ;
  height: 18rem;
  /* background-color: yellow; */
  
}

.lg_UEM{
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 0;
}


.Jaipur{
  width: 25rem;
  height: 6rem;

  background-color: rgba(197, 182, 182,0);
}

.androidGif{
  pointer-events: none;
  user-select: none;
}

.GoogleStudentDeveloperStudentClubs{

  width: 38rem;
}

.gitBigLine{
  height: 200vh;
  width: 10rem;
}

.gdscLogoContainer{

  position: absolute;
  top: -3.56rem;
  left: 6rem;

  width: 15%;
}

/* ====================================== */
/* THE ABOUT GDSC SECTION */


#AboutSection{

  width: 100%;
  height: 100vh;

  background-color: red;
}

.card1{
  background-color: #515151;

  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  width: 55rem;


}

.conceptOfGdsc{

  font-size: 2.5rem ;
  font-weight: 800;
}

.card1Para{
  width: 42rem;
  font-size: 1.1rem;

}

.gdscMain{

  rotate: 90deg;
  font-size: 4rem;
  
  font-weight: 900;

  right: 0;
  top: 4rem;

  background: #cccccc;

  padding-left: 1rem;
  padding-right: 1.6rem;

  color: white;

}

