@tailwind base;
@tailwind components;
@tailwind utilities;


/* FONTS ARE WRITTEN HERE */


/* font-family: 'Borel', cursive;
font-family: 'Courgette', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'JetBrains Mono', monospace;
font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Sora', sans-serif;
font-family: 'Ubuntu', sans-serif; */


.font-sora {
  font-family: 'Sora', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-jetbrain{
  font-family: 'JetBrains Mono', monospace;
}



/* ========================================= */
/* THE HERO SECTION STARTS HERE */
#HeroSection_1_{
  width: 100%;
  height: 100vh;


  /* background-color: green; */

  /* overflow: hidden; */

}

#LongSvgLine{
  z-index: +500;
}

.GDSCbig{

  font-size: 21rem;
  rotate: 90deg;

  font-weight: 900;
  line-height: 0;

  left: -23rem;
  top: 29rem;

  color: #363636;
}

.UEM{
  width: 50rem ;
  height: 18rem;
  /* background-color: yellow; */
  
}

.lg_UEM{
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 0;
}


.Jaipur{
  width: 25rem;
  height: 6rem;

  background-color: rgba(197, 182, 182,0);
}

.androidGif{
  pointer-events: none;
  user-select: none;
}

.GoogleStudentDeveloperStudentClubs{

  width: 38rem;
}

.gitBigLine{
  height: 200vh;
  width: 10rem;
}

.gdscLogoContainer{

  position: absolute;
  top: -3.56rem;
  left: 6rem;

  width: 15%;
}

/* ====================================== */
/* THE ABOUT GDSC SECTION */


#AboutSection{

  width: 100%;
  height: 100vh;

  background-color: red;
}

.card{
  background-color: #515151;

  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  width: 55rem;


}

.conceptOfGdsc{

  font-size: 2.5rem ;
  font-weight: 800;
}

.card1Para{
  width: 42rem;
  font-size: 1.1rem;

}

.gdscMain{

  rotate: 90deg;
  font-size: 4rem;
  
  font-weight: 900;

  right: 0;
  top: 4rem;

  background: #cccccc;

  padding-left: 1rem;
  padding-right: 1.6rem;

  color: white;

}

.card1{

  top: 8rem;
  right: 20rem;
}

.card2{
  top: 25rem;
  left: 4rem;
}

.card3{
  top: 42rem;
  right: 20rem;
}

/* THE GIT LINES */
.lineMedium1{

  position: absolute;
  right: 6.9rem;
  top: -5.5rem;
}

.lineHead1{

  position: absolute;
  width: 2.4rem;
  right: 6.01rem;
  top: 13rem;

}

.lineSmall1{

  position:absolute;
  right: 10rem;
  top: 12rem;

  rotate: 90deg;

}

.lineSmall1-1{

  right: 14.5rem;
}

.lineSmall1-2{

  right: 17.5rem;
}

/* STARING WITH SECTION 3 OPPORTUNITIES */
#Opportunities{

  height: 100vh;
  width: 100%;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

}

.OpportunitiesContainer{
  width: 50%;
  height: 82%;

  background-color: #515151;
  /* margin-top: 1rem; */

  padding: 2rem;
  
}


.Opportunities{

  font-size: 6rem;
  font-weight: 900;
  color: white;
  
}

.OpportunitiesLine2{

  font-size: 2rem;
  font-weight: 900;
  
  position: absolute;

  bottom: -1rem;
  right: 10.5rem;

  color: white;

}

.OpportunitiesWrapper{

  margin-bottom: 2rem;
}

.spanInside{

  background-color: white;
  color: #515151;

  padding: 0 0.5rem 0 0.5rem;
}

.OpportunitesPoints{

  font-size: 1.3rem;
  color: white;
  
  margin-left: 4rem;
  margin-top: 2.5rem;
}



/* TECHNOLOGIES WE ARE EXITED ABOUT SECTION */

#TechnologiesWeAreExitedAbout{
  height: 200vh;
  width: 100%;
  background: white;

  position: relative;
}


.TechnologiesHeading{

  font-size: 5rem;
  font-weight: 900;
  color: #363636;
}

.TechnologiesSubHeading{


  font-size: 2rem;
  font-weight: 900;
  color: #363636;

  position: absolute;

  bottom: -1.4rem;
  right: 0.25rem;


}

._technologiesCardDiv{

  width: 70rem;
  height: 18rem;
  background-color: #515151;

  color: white;
  padding: 2rem;

  font-size: 1.4rem;

  margin-right: 20rem;
  margin-top: 6rem;
}



/* TEAM SECTION BELOW HERE */
#TeamSection{

  height: 120vh;
  width: 100%;

  background-color: white;
}

.TeamsHeadingWrapper{

position: relative;
margin:4rem 5rem ;
}

.headingTeams{

  font-size: 5rem;
  font-weight: 900;

  color: #363636;
  
}

.subheadingTeams{

  font-size: 1.4rem;
  font-weight: 900;

  color: #363636;

  position: absolute;
  bottom: -0.4rem;
  left: 0;

}


.teamMemberGrid{

  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;



}

.teamMemberPic{
  width: 100%;
}

.teamMemberPicEdit{
  width: 100%;
}

.teamCard{

  width: 30rem;
  padding: 2rem;

  /* border: 2px solid black; */

  display: flex;
  flex-direction: column;

  align-items: start;

  background-color: #E8E8E8;

  border-radius: 0.5rem;
  
  transition: 0.1s;
  cursor: pointer;
  
}

.teamCard:hover{

  scale: 1.02;
}

.teamMemberPicEdit{

  border-radius: 0.5rem;
}

.socialsLogos{

  width: 100%;
}

.membersName{
  font-size: 2rem;
  font-weight: 700;

  line-height: 1;

  padding: 1rem;

  color: #363636;

  background-color: white;

  margin-left: 2.5rem;
  margin-top: 2rem;

}

.membersDesignamtion{

  margin-top: 1rem;
  font-size: 1.8rem;

  font-weight: 800;
}

.aboutMember{

  font-size: 0.9rem;
}


/* THE EVENTS SECTION */
#EventSection{

  height: 105vh;
  background-color: white;
}


.EventsHeadingWrapper{

  margin-bottom: 6rem;
}

.eventContainer{

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 30rem;
  padding: 2rem;

  background-color: #363636;

  border-radius: 0.5rem;

  transition: 0.1s;
  cursor: pointer;
}

.eventContainer:hover{
  scale: 1.02;
}



.eventCardName{

  font-size: 2rem;
  padding-top: 1rem;

  font-weight: 900;
  

}

.icons{

  width: 2rem;
  margin-right: 1rem;
  /* padding-top: 1rem; */
  
}

.calanderImgEdit{
  margin-right: 1rem;
}


.dateWrapper{

  margin-top: 2rem;
}
.timeWrapper{

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.eventDetailsWrapper{

  margin-top: 1rem;
}


.eventDetails{

  font-size: 1.2rem;
}
